body{
    background-color: #000;
    color: #fff;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar__navigation{
    background-color: #202020;
    border-radius: 8px;
}

.sidebar__navigation .logo{
    background-color: #202020;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img{
    width: 80px;
}

.sidebar nav ul{
    margin: 10px 0;
    padding: 5px 20px;
}

.sidebar nav ul li{
    padding: 10px 0;
}

.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    transition: 150ms ease-in-out;
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar nav ul li a:hover{
    color: #eee;
}
.sidebar nav ul li a i{
    font-size: 22px;
}

.sidebar .library ul li a i:nth-last-child(1){
    margin-left: 60px;
}